Question 1

In [ ]:
x = [1,2,3]
y = 'bootcamp'
z = x+Y

Code does not run without error because x is a list of integers and y is a string. We cannot sum two different types.

Question 2

In [7]:
type(x)
len(x)
type(y)
len(y)

8

The type() function tells us what type they are and the len() function tell us how many elements they contain.

Question 3

2 - an integer

'2' - a string

2.0 - a float

"2.0" - a string

2>1 - a bool

'Itamar' > 'Chase' - a bool

[1, 2] - a list

(1,2) - a tuple

{1: 'one, 2: 'two'} - a dictionary

We can tell waht type each expression is by using the function type() and typing the expression between the parentheses.

Question 4

Each comparision has the value true except for 2**3 >3**2

Question 5

This code does not run without error. To fix it, a colon must be added at the end of the first line. With this change, it will produce the string Yes, 2 is still greater than 1.

In [116]:
if 2>1:
    print('Yes, 2 is still greater than 1')

Yes, 2 is still greater than 1

Question 6

Running this code returns a syntax error. This is because it is not indicated what the if statement refers to. Replacing True with False in the first line does not fix the error because Python is still not told if what is False. Adding not does not fix the error for the same reason.

# Question 7

In [117]:
cond = True
if cond:
    x = "Chase"
else:
    x = "dave"
print(x)

Chase

When it is established that the condition is true, the code will print Chase. If the condition is not true, the code will print dave.

Question 8

In [24]:
x = [1,2,3,4]
y = ['x','y','z']

if len(x)>len(y):
    print('x has more')
else:
    print("y has at least as many")

x has more

Question 9

Slicing allows us to isolate a particular element or elements of a string or list.

Question 10

You would extract the first element from the list x below by using the command x[0]. This is becasue Python starts indexing from 0.

In [27]:
x = [1,2,3,4,5]
x[0]

1

You would extract the last element from the list x below by using the command x[4] or x[-1] because there are 5 elements, or you can use reverse indexing.

In [28]:
x[4]

5

In [29]:
x[-1]

5

To extral all but the last element you would use the command x[0:4]. This will extract all elements from 0 (the first element) to 5, not including 5.

In [30]:
x[0:4]

[1, 2, 3, 4]

Question 11

In [45]:
sentence = 'This is a sentence; please slice it.'

In [41]:
sentence[0:4]

'This'

In [42]:
sentence[5:7]

'is'

In [43]:
sentence[8:9]

'a'

In [46]:
sentence[10:18]

'sentence'

In [47]:
sentence[20:26]

'please'

In [49]:
sentence[27:32]

'slice'

In [51]:
sentence[33:35]

'it'

Question 12

In [52]:
x = [1, 2, "a", "b", "fast", 'slow', 3, "Raghu", 'Liuren', 10]

You would slice out the first item by using command x[0]

In [53]:
x[0]

1

You would slice out the last item by using command x[-1]

In [54]:
x[-1]

10

You would slice out the items from 'b' to 3 inclusive by using the command x[3:7]

In [56]:
x[3:7]

['b', 'fast', 'slow', 3]

Question 13

In [57]:
for i in x:
    print(i)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

Question 14

In [61]:
for i in x:
    type(str(i))
    print(i)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

Question 15

In [166]:
range?

The range function returns a sequence of integers within the range specified including the first integer, not including the 2nd integer. If a third integer is included in the function, then the range function will return a sequence of number that are counted by that number. If a third number is not included, the range function will default to skipping each by one.

range(3,12,2) will return numbers from 3 to 12 in steps of two. The last number returned will be 11. So 3, 5, 7, 9, 11 wil be returned.

In [64]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

Question 16

In [65]:
sum1=0
for i in range (0,31,3):
    sum1=sum1+i
print(sum1)

165

Question 17

In [76]:
def pocket_change(p, n, d, q):
    
    penny = 0.01*p
    nickel = 0.05*n
    dime = 0.1*d
    quater = 0.25*q
    money = penny+nickel+dime+quater
    
    return(money)

In [78]:
pocket_change(1, 2, 3, 4)

1.4100000000000001

Question 18

In [198]:
x=[]

def notsix():
    
    for i in l:
        if str(i)[0]=='6':
            x.append[i]
    return(x)

In [ ]:
notsix(1234, 6783, 6, 4321)

Question 19

In [81]:
old_list = [1234, 6789, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] !="6"]

In [82]:
new_list

[1234, 4321, 9876]

This codes defines a list named old_list and then creates a new list called new_list, which removes any elements in the first list that begin with 6. It does this by first converting all of the integers in the first list to strings, and then removing any of these strings for which the first element is 6.

Question 20

In [103]:
z={1: 'one', 2: 'two', 3: 'three'}

In [105]:
z[2]

'two'

z is a dictionary.
1, 2, 3 are keys and one, two, three are values.
use z[2] to get values associated with key 2

In [107]:
z.keys?

z.keys() allows you to view all of the keys stored in the dictionary z.

In [111]:
z.values?

z.values() allows you to view all of the values stored in the dictionary z.

list(z.keys()) returns all of the keys in z as a list. Similarly, list(z.values()) returns all of the values in z as a list.

list(z) returns all keys in the dictionary z as a list.